*{
    margin: 0px;
    padding: 0px;
    background-color: cadetblue;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

label, input, form, h1{
    background-color: white;
    margin: 10px;
}
.card{
    margin-top: 50px;
    border: 1px solid black ;
    border-radius: 20px;
    padding: 30px;
    background-color: white;
    box-shadow: 10px 4px 4px ;
}

.btn{
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: cadetblue ;
}
.btn:active{
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    transition: 0.2s all;

}

.altura, #peso{
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    
}
/* p{
    margin-left: 100px;
} */

.atencao, .bom, .perigo{
    background-color: white;
}
.atencao{
    color: yellow;
    font-size: 25px;
}

.bom{
    color: green;
    font-size: 25px;
}

.perigo{
    color: red;
    font-size: 25px;    
}

.reset{
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: cadetblue;
    
}
.reset:active{
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
    transition: 0.2s all;
}